body{
  background-image:url('giftly.png');
}
.videoContainer {
  position: relative;
  width: 200px;
  height: 150px;
}
.videoContainer video {
  position: absolute;
  width: 100%;
  height: 100%;
}
.volume_bar {
  position: absolute;
  width: 5px;
  height: 0px;
  /*right: 0px;*/
  bottom: 5px;
  background-color: #772953;
}
.heading{
  width: 500px;
  margin: 50px auto;
}
.get-room{
  width: 200px;
  margin-left: 195px;
}
.create-form{
  margin-bottom: 15px;
}
